.App {
  font-family: "Open Sans";
  color: #5e6488;
}

.background-green {
  width: 100vw;
  height: 45vh;
  position: absolute;
  top: 0;
  background-color: #6fcf97;
  z-index: -10;
}

.background-grey {
  width: 100vw;
  height: 55vh;
  position: absolute;
  top: 45vh;
  background-color: #f6f7f8;
  z-index: -10;
}

input,
button {
  font: inherit;
}

form {
  label em {
    font-style: normal;
    display: block;
  }
}

h1 {
  color: #648166;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 3em 3em 3em;

  p {
    font-size: 20px;
  }

  .slogan {
    font-size: 25px;
    text-align: center;
    font-style: oblique;
    color: white;
    font-family: "Open Sans";
    margin-top: 2em;
  }
  img{
    margin-top:2em; 
    width:100vw; 
    border-radius:5px; 
  }
  .cta {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    padding: 3em;
    border-radius: 1em;
    margin-top: -3em;

    .btn {
      margin-top: 2em;
      font-weight: bold;
      font-size: 0.8em;
    }
  }
}

//    _    _  ____  __  __ ______
//   | |  | |/ __ \|  \/  |  ____|
//   | |__| | |  | | \  / | |__
//   |  __  | |  | | |\/| |  __|
//   | |  | | |__| | |  | | |____
//   |_|  |_|\____/|_|  |_|______|
//
//

[data-route="/"],
[data-route="/profile"],
[data-route="/profile/edit"] {
  .popin__one {
    display: block;

    .cta {
      margin-bottom: 0;
    }
  }

  p em {
    font-style: normal;
    color: gray;
  }

  .btn + .btn {
    margin-top: 1em;
  }

  img.avatar {
    display: block;
    width: 9em;
    height: 9em;
    border-radius: 100%;
    object-fit: contain;
    margin: 0 auto;
    background: #e1e1e1;
    margin-bottom: 1em;
    object-fit: cover;
  }
}

//    _      ____   _____ _____ _   _       _______ _____ _____ _   _ _    _ _____
//   | |    / __ \ / ____|_   _| \ | |     / / ____|_   _/ ____| \ | | |  | |  __ \
//   | |   | |  | | |  __  | | |  \| |    / / (___   | || |  __|  \| | |  | | |__) |
//   | |   | |  | | | |_ | | | | . ` |   / / \___ \  | || | |_ | . ` | |  | |  ___/
//   | |___| |__| | |__| |_| |_| |\  |  / /  ____) |_| || |__| | |\  | |__| | |
//   |______\____/ \_____|_____|_| \_| /_/  |_____/|_____\_____|_| \_|\____/|_|
//
//

[data-route="/login"],
[data-route="/signup"] {
  .popin__one h1 {
    margin-top: 0;
  }

  p small {
    color: gray;
  }

  p small + .btn {
    margin-top: 1em;
  }
}

//    _   _     __      ______          _____
//   | \ | |   /\ \    / /  _ \   /\   |  __ \
//   |  \| |  /  \ \  / /| |_) | /  \  | |__) |
//   | . ` | / /\ \ \/ / |  _ < / /\ \ |  _  /
//   | |\  |/ ____ \  /  | |_) / ____ \| | \ \
//   |_| \_/_/    \_\/   |____/_/    \_\_|  \_\
//
//

.navbar {
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1em 0.3em 1em;

  h1 {
    font-size: 20px;
    color: #5e6488;
    font-weight: 600;
  }

  img {
    width: 2.7em;
    margin: 1em;
  }
}

.menu {
  width: 100%;
  height: 8vh;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;

  img {
    width: 3.8em;
  }
}
header.MuiAppBar-colorPrimary {
  background-color: white;
}

.loupe {
  height: 1.8em;
}
//    _____  _____   ____  ______ _____ _      ______
//   |  __ \|  __ \ / __ \|  ____|_   _| |    |  ____|
//   | |__) | |__) | |  | | |__    | | | |    | |__
//   |  ___/|  _  /| |  | |  __|   | | | |    |  __|
//   | |    | | \ \| |__| | |     _| |_| |____| |____
//   |_|    |_|  \_\\____/|_|    |_____|______|______|
//
//

.container.profile {
  padding-top: 1em;
  background-color: white;
  margin: 1em 1.4em 7em 1.4em;
  border-radius: 1em;
  box-shadow: rgba(218, 233, 219, 0.67) 0px 0px 4px 3px;
  .avatar {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  a {
    width: 80%;
    color: #5e6488;

    button.btn {
      width: 100%;
      font-size: 1.05em;
      margin-top: 1em;
      color: #5e6488;
    }
  }
  .info {
    width: 200px;
    color: #5e6488;
  }
  .profile-type {
    text-align: center;
  }
  .profile-item {
    display: flex;
    flex-direction: column;
    color: #5e6488;
    h3 {
      margin-top: 1em;
      margin-bottom: 0;
    }
    p {
      font-size: 1em;
      padding: 0.2em;
      border-radius: 3px;
      border: none;
      background-color: #f6f6f6;
      min-height: 30px;
      text-align: left;
      margin-top: 0.2em;
      margin-bottom: 0.2em;
    }
  }
}

.label-file {
  cursor: pointer;
  text-align: center;
  color: #6fcf97;
  font-weight: bold;
  border: 1px solid #6fcf97;
  padding: 0.2em;
  width: 50%;
}
.label-file:hover {
  color: white;
}

// et on masque le input
.input-file {
  display: none;
}

//    ______ ____  _____  __  __
//   |  ____/ __ \|  __ \|  \/  |
//   | |__ | |  | | |__) | \  / |
//   |  __|| |  | |  _  /| |\/| |
//   | |   | |__| | | \ \| |  | |
//   |_|    \____/|_|  \_\_|  |_|
//
//

.form {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;

  background-color: white;
  margin: 1em 1.4em 7em 1.4em;
  border-radius: 1em;
  box-shadow: rgba(171, 195, 173, 0.67) 0px 0px 4px 3px;

  input {
    height: 30px;
    font-size: 0.8em;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: none;
    background-color: #f6f6f6;
    width: 80%;
  }

  .address {
    width: 80%;

    input {
      width: 100%;
    }
  }

  label,
  span {
    width: 80%;
  }

  .my-select {
    height: 30px;
    font-size: 0.8em;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: none;
    background-color: #f6f6f6;
    width: 80%;

    option {
      height: 1em;
    }
  }

  .error {
    color: red;
  }

  label {
    display: block;
    margin-top: 1em;
  }

  span {
    display: block;
  }

  .btn {
    margin-top: 2em;
    width: 150px;
    padding: 1em;
    color: #5e648f;
  }

  p {
    font-size: 12px;
    width: 80%;
    text-align: center;
  }
}

//    _____   ____  _   _       _______ _____ ____  _   _   ______ ____  _____  __  __
//   |  __ \ / __ \| \ | |   /\|__   __|_   _/ __ \| \ | | |  ____/ __ \|  __ \|  \/  |
//   | |  | | |  | |  \| |  /  \  | |    | || |  | |  \| | | |__ | |  | | |__) | \  / |
//   | |  | | |  | | . ` | / /\ \ | |    | || |  | | . ` | |  __|| |  | |  _  /| |\/| |
//   | |__| | |__| | |\  |/ ____ \| |   _| || |__| | |\  | | |   | |__| | | \ \| |  | |
//   |_____/ \____/|_| \_/_/    \_\_|  |_____\____/|_| \_| |_|    \____/|_|  \_\_|  |_|
//
//
[data-route="/new-donation"] {
  h1 {
    text-align: center;
  }
  .form.donation {
    padding: 1em;
    padding-bottom: 14vh;
    background-color: white;
    margin: 0 1.4em;
    border-radius: 1em;
    box-shadow: rgba(171, 195, 173, 0.67) 0px 0px 4px 3px;

    select {
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: "";
      border-radius: 0.7em;
      height: 30px;
      background-color: rgb(246, 246, 246);
      text-align: center;
      border: none;
    }

    input {
      border-radius: 0.7em;
      height: 30px;
    }

    h2 {
      font-size: 1.2em;
      color: rgb(129, 136, 129);
    }
    .plus {
      box-shadow: rgba(171, 195, 173, 0.67) 0px 0px 4px 3px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #6fcf97;
      cursor: pointer;
    }

    .unitDon {
      width: 100%;
      font-size: 1em;
      padding: 0.3em 0.6em;
      margin-bottom: 1em;
      border-radius: 1em;

      .headUnitDon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: 1.3em;
          color: black;
        }
      }

      .produit {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 60%;
        }
        select {
          width: 30%;
        }
      }

      .quantity {
        width: 100%;
        display: flex;
        flex-direction: column;
        .input-quantity {
          display: flex;
          justify-content: space-between;
          input {
            width: 50%;
          }
        }

        .date {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          input {
            width: 100%;
          }
        }
      }
    }

    .localisation {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 1em;
      padding-left: 0.6em;
      padding-right: 0.6em;

      .address {
        width: 100%;
      }
    }

    .btn {
      width: 80%;
      background-color: rgb(212, 222, 211);
      margin-top: 1em;
    }
    .add-item {
      background-color: #f7dc00;
    }
  }
}
//    ____ _______ _   _
//   |  _ \__   __| \ | |
//   | |_) | | |  |  \| |
//   |  _ <  | |  | . ` |
//   | |_) | | |  | |\  |
//   |____/  |_|  |_| \_|
//
//

.btn {
  display: inline-block;
  background: #6fcf97;
  padding: 0.85em 4em;
  border-radius: 0.25em;
  font-weight: bold;
  font-size: 80%;
  text-align: center;
  cursor: pointer;
  margin: 2em 0 2em 0’;
}

button.btn {
  border: inherit;
  background: #6fcf97;
}

a.btn {
  text-decoration: none;
  color: inherit;
}

.popin .btn {
  display: block;
  width: 100%;
}

//    _____           _____ _    _ ____   ____          _____  _____
//   |  __ \   /\    / ____| |  | |  _ \ / __ \   /\   |  __ \|  __ \
//   | |  | | /  \  | (___ | |__| | |_) | |  | | /  \  | |__) | |  | |
//   | |  | |/ /\ \  \___ \|  __  |  _ <| |  | |/ /\ \ |  _  /| |  | |
//   | |__| / ____ \ ____) | |  | | |_) | |__| / ____ \| | \ \| |__| |
//   |_____/_/    \_\_____/|_|  |_|____/ \____/_/    \_\_|  \_\_____/
//
//
.dashboard {
  padding-bottom: 6em;
  .Kpi2 {
    padding: 0.6em;
    align-items: center;
    p {
      margin: 0;
      font-size: 1em;
    }
    img {
      height: 30px;
      margin-right: 1em;
    }
  }
}

/*
//    _  _______ _____ 
//   | |/ /  __ \_   _|
//   | ' /| |__) || |  
//   |  < |  ___/ | |  
//   | . \| |    _| |_ 
//   |_|\_\_|   |_____|
//                     
//                      
*/
.Kpi1 {
  width: auto;
  text-align: center;
  color: #5e6488;

  .amount {
    font-size: 40px;
    font-weight: 550;
    padding: 0;
    margin-left: 0.1em;
  }

  .euro {
    font-size: 20px;
    font-weight: 450;
    padding: 0;
    margin-left: 0.1em;
  }

  .wording {
    font-size: 16px;
    font-weight: 550;
    padding: 0px 5px 15px 5px;
    margin-left: 0.1em;
  }
}

.Kpi2 {
  width: 168px;
  border-radius: 4px;
  margin: auto;
  display: block;
  background-color: #e6e6e6;
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
  font-weight: 600;
  margin-top: 15px;
}

.Kpi3 {
  border-radius: 8px;
  margin-top: 100px;
  margin: 15px;
  display: block;
  background-color: white;
  padding: 3px 40px;
  font-size: 14px;

  .titreKpi3 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }

  img {
    padding-right: 10px;
  }
}

//     _____          _____  _____   _____       _____   ____  _   _  _____
//    / ____|   /\   |  __ \|  __ \ / ____|     |  __ \ / __ \| \ | |/ ____|
//   | |       /  \  | |__) | |  | | (___ ______| |  | | |  | |  \| | (___
//   | |      / /\ \ |  _  /| |  | |\___ \______| |  | | |  | | . ` |\___ \
//   | |____ / ____ \| | \ \| |__| |____) |     | |__| | |__| | |\  |____) |
//    \_____/_/    \_\_|  \_\_____/|_____/      |_____/ \____/|_| \_|_____/
//
//

.card_dons {
  border-radius: 8px;
  margin: 15px;
  background-color: white;
  padding: 3px 20px;
  font-size: 14px;
  font-family: "Open Sans";
  display: flex;

  img {
    margin-left: 0px;
    height: 30px;
  }

  .cardClosed {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .cardOpen {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;

    .wordingRecup {
      padding-left: 10px;
    }

    .unitDonCard {
      width: 100%;
      background-color: grey;
    }

    .btn-open {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .toggleButton {
        margin-left: 10px;
      }
    }
    .cardInfo {
      margin-top: 20px;
      text-justify: center;
      border: solid 1px #e5e5e5;
      border-radius: 3px;
      padding: 15px;
      margin-bottom: 20px;

      .productType,
      .productName,
      .productWeight,
      .productexpDate {
        display: flex;
        align-items: center;
        margin-top: 0.5em;
        margin-left: auto;
        justify-content: space-between;
      }
      .grasDroite {
        font-weight: 600;
      }
    }

    img {
      margin-left: 0px;
      height: 30px;
    }
  }
  .btn {
    font-size: 1.05em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    font-weight: 650;
    color: #5e6488;
  }

  .buttonsCardDon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dateRecup,
  .placeRecup {
    margin-top: 0.5em;
    display: flex;
  }
}
// #                      ######
// #       #  ####  ##### #     #  ####  #    #  ####
// #       # #        #   #     # #    # ##   # #
// #       #  ####    #   #     # #    # # #  #  ####
// #       #      #   #   #     # #    # #  # #      #
// #       # #    #   #   #     # #    # #   ## #    #
// ####### #  ####    #   ######   ####  #    #  ####

.GoogleMap {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 2em;

  .gm-style .gm-style-iw {
    background-color: white;
    top: 0;
    left: 0;
    width: 180px;
    height: 60px;
    padding-top: 10px;
    display: block;

    h1 {
      color: #5e6488;
      font-size: 15px;
      padding-left: 8px;
      padding-bottom: 4px;
      margin: 0;
      cursor: pointer;
    }

    h2 {
      margin: 0;
      font-size: 12px;
      padding-left: 8px;
      color: #5e6488;
    }
  }

  /*style the p tag*/
  .gm-style .gm-style-iw #google-popup p {
    padding: 10px;
  }

  /*style the arrow*/
  .gm-style div div div div div div div div {
    background-color: white;
    padding: 0;
    margin: 0;
    padding: 0;
    top: 0;
    color: #fff;
    font-size: 16px;
  }

  /*style the link*/
  .gm-style div div div div div div div div a {
    color: #f1f1f1;
    font-weight: bold;
  }
}

.listDons {
  margin-bottom: 13vh;
}

//    _    _ _____  _____ _______ ____  _____  _____ _____  __      _______ ________          __
//   | |  | |_   _|/ ____|__   __/ __ \|  __ \|_   _/ ____| \ \    / /_   _|  ____\ \        / /
//   | |__| | | | | (___    | | | |  | | |__) | | || |       \ \  / /  | | | |__   \ \  /\  / /
//   |  __  | | |  \___ \   | | | |  | |  _  /  | || |        \ \/ /   | | |  __|   \ \/  \/ /
//   | |  | |_| |_ ____) |  | | | |__| | | \ \ _| || |____     \  /   _| |_| |____   \  /\  /
//   |_|  |_|_____|_____/   |_|  \____/|_|  \_\_____\_____|     \/   |_____|______|   \/  \/
//
//
.historicview {
  display: block;
}

.btn-download {
  width: 100%;
  font-size: 1.05em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #5e6488;
  padding: 0.5em;
  font-weight: 650;
  border-radius: 0.25em;
  background-color: #6fcf97;
}
